<section class="single">

  <div class="single__frontImg">
    <div class="single__frontImg__title">
      <pre class="underline"> Cat-shelter; <br> Warm shelter <br> for stray cats </pre>
    </div>
    <div class="single__frontImg__img">
      <img src="./../../../assets/Works/2015_CatShelter/img/pic01.jpg">
      <p class="img__figure">fig 1. A stray cat is taking shelter from the cold weather</p>
    </div>
  </div>

  <div class="single__frontText">
    <div class="single__frontText__desc">
      <h3>
        “Two-thirds of cats under six months all die during the winter due to cold weather.” − Korea Cat Protection Association
      </h3>
    </div>
    <div class="single__frontText__category">
      <p>CATEGORY</p>
      <p>Product Concept Design</p>
      <br>
      <p>AWARDS</p>
      <p>SPARKS finalist (2015)</p>
      <br>
      <p>WITH</p>
      <p>Jihoon Suh</p>
    </div>
  </div>

  <div class="main">
    <div class="main__container">
      <p class="main__container__word">
        <span>About the work</span>
        <br>
        <br> This product is a small shelter for the stray cats, placed at the parking space. When somebody parks the car over
        the product, the car’s leftover heat is transferred to the inside of the shelter, which keeps stray cats warm and
        help them withstand the harsh, cold winter weather.
        <br>
        <br> Every winter, vast number of cats die just because they cannot find a decent shelter to avoid the shear cold weather.
        As the heat source to take refuge is so scarce, cats are often found to take refuge inside the bonnet of the car.
        which is the place where leftover heat of the car could be found. For a wayfarer, a warm shelter in the cold winter
        night is a joyful sight. ‘Cat- Shelter’ started out from this idea; Why not make a shelter for the cats to take refuge?
        <br>
        <br> Stray cats are so vulnerable creatures out in the cold. If people can save them just by simply parking the car in
        the right place, it is certain many people will be delighted to join and help. By this product, it would not just
        warm the cats but probably also warm our hearts too.
        <br>
        <br> This product concept has been nominated as a finalist for Sparks award in 2015.
      </p>

      <div class="main__container__img-full">
        <img src="./../../../assets/Works/2015_CatShelter/img/pic02.jpg">
        <p class="img__figure">
          fig 2. Current problem and how the product works</p>
      </div>
      <div class="main__container__img-full">
        <img src="./../../../assets/Works/2015_CatShelter/img/pic03.jpg">
        <p class="img__figure">fig 3.</p>
      </div>
      <div class="main__container__img-full">
        <img src="./../../../assets/Works/2015_CatShelter/img/pic05.jpg">
        <p class="img__figure">fig 4. A prototype made during the development of the concept</p>
      </div>


    </div>

  </div>

</section>
