@import './../../../color';

.contentSingle{
    // background-color: #9E8777;
    background-color: $white;
    margin: 0px 10% 0 10%; 
    // overflow-x:hidden;

    ::-webkit-scrollbar {
        width: 25px;
    }

}

.workDetail {
    width: 100%;
    display: flex;
    justify-content: center;
    // margin: auto;
}

footer {
    display: flex;
    position: relative;
    justify-content: center;
    background-color: $gray;
    padding: 10px 0;
    margin: 0px 10% 0 10%; 
    p {
        color: $black;
        font-size: 13px;
        font-family: 'relative-mono10pitch';
    }
}

@media (max-width: 550px) {
    .contentSingle{ 
        margin: 0;
    }
    footer {
        margin: 0;
    }
}

