<section class="single">
  
  <div class="single__frontImg">
    <div class="single__frontImg__img">
      <img src="./../../../assets/Works/2014_Primrose/img/pic05-big.jpg">
      <p class="img__figure">fig 1. Close-up shot of Installation</p>
    </div>
    <div class="single__frontImg__title">
      <p class="underline">First Snow</p>
      <p class="underline" >Media Art Project</p>
    </div>
  </div>

  <div class="single__frontText">
    <div class="single__frontText__desc">
        <h3>
          Sbanken, formerly known as Skandiabanken, is the Norwegian bank that has had the most satisfied customers since 2002. Sbanken is also the first bank that emerged as a pure digital bank, bold and brave from the very beginning.
        </h3>
    </div>
    <div class="single__frontText__category">
        <p>CATEGORY</p>
        <p>Technology</p>
        <br>
        <p>PRODUCT</p>
        <p>Visual identity</p>
        <br>
        <p>CLIENT</p>
        <p>Skandiabanekn - Sbanken</p>
    </div>
    
    <div class="single__secondImg">
      <div class="single__secondImg__img">
        <img src="./../../../assets/Works/2014_Primrose/img/pic05-big.jpg">
      </div>
      <div class="single__secondImg__img">
        <img src="./../../../assets/Works/2014_Primrose/img/pic05-big.jpg">
      </div>
      <div class="single__secondImg__img">
        <img src="./../../../assets/Works/2014_Primrose/img/pic05-big.jpg">
      </div>
    </div>

  </div>

  <div class="single__main">
    <hr>

  </div>
  
</section>