<section class="single">

  <div class="single__frontImg">
    <div class="single__frontImg__title">
      <pre class="underline"> Long-term Study; <br> Consumer to Creator </pre>
    </div>
    <div class="single__frontImg__img">
      <img src="./../../../assets/Works/2016_ConsumerToCreator/img/pic04.jpg">
      <p class="img__figure">fig 1. Photo of an interview session during the study </p>
    </div>
  </div>

  <div class="single__frontText">
    <div class="single__frontText__desc">
      <h3>
        “I tried to check the usability and comfortability of this side table when it is used with this low sofa. But it is hard
        to figure out how.” −Mentioned by study participant C1
      </h3>
    </div>
    <div class="single__frontText__category">
      <p>CATEGORY</p>
      <p>Design Research Paper</p>
      <br>
      <p>CONFERENCE</p>
      <p>CHI 17'</p>
      <br>
      <p>WITH</p>
      <p>
        <a href="http://saakes.net/" class="link_underline">Daniel Saakes</a>
        <br> Bokyung Lee
        <br> Gyeol Han
      </p>
    </div>
  </div>

  <div class="main">
    <div class="main__container">
      <p class="main__container__word">
        <span>About the work</span>
        <br>
        <br> Emerging technologies for digital design and fabrication let people participate in the making of objects that were
        previously dominated by professional designers. A growing body of work in HCI provides understanding in the activities
        of designing and making by novices and in maker communities. However, we know little about how casual users might
        employ these technologies with the goal of having an object in their home that satisfies a need.
        <br>
        <br> 'Consumer to Creator' is a long-term qualitative study in which we followed 16 households during a purchasing
        process of furniture items for their homes. We looked into how families discover what they need, find solutions,
        realize a solution in their house and put it to use.
        <br>
        <br> The results provide insights into their design activities and workflow and we identify two distinct stages: understanding
        needs and prototyping a solution. Based on the findings, we discuss the social practice of acquiring and appropriating
        furniture in the home and within families, and identify design opportunities for digital design and fabrication to
        support people as they create the objects they need, want and desire.
      </p>

      <div class="main__container__img-full">
        <img src="./../../../assets/Works/2016_ConsumerToCreator/img/pic13.jpg">
        <p class="img__figure">fig 2. Overall study procedure diagram</p>
      </div>

      <p class="main__container__word">
        <span>More about the study</span>
        <br>
        <br> We conducted a long-term qualitative study with 16 households. Two field interviews in the participant’s homes enabled
        them to refer to their furniture and show their routines and a diary study let participants log events related to
        their furniture decision making. A follow-up interview two months after the purchase was conducted to let participants
        reflect on their purchases. The entire study was held from February to August in 2016, and on average it took participants
        105 days from the first motivation interview to the purchase interview.
      </p>

      <div class="main__container__img-full">
        <img src="./../../../assets/Works/2016_ConsumerToCreator/img/pic09.jpg">
        <p class="img__figure">fig 3. </p>
      </div>

      <div class="main__container__img-left">
        <img src="./../../../assets/Works/2016_ConsumerToCreator/img/pic10.jpg">
        <p class="img__figure">fig 4. Design probe-kit given to each participants</p>
      </div>

      <p class="main__container__word">
        <span>Conclusion</span>
        <br>
        <br> Through the research we found insights in the practice of acquiring and appropriating furniture items in the home
        and within families through the ‘lens of design’. Then, we reflected on how these insights encourage the future customization
        and fabrication interface.
        <br>
        <br> Through the research we found insights in the practice of acquiring and appropriating furniture items in the home
        and within families through the ‘lens of design’. Then, we reflected on how these insights encourage the future customization
        and fabrication interface. First, the participants were found to consult a wide variety of external information sources
        during the purchasing process. Meanwhile, in the realization stage, participants relied on in-depth qualitative information.
        Second, we found that all households use prototyping to gain understanding in their requirements and to test the
        fit of the furniture in their houses. Third, all the final decisions of a family were made together through in-depth
        discussion. Unlike professional designers, the family members were taken as both designers as well as users of the
        items they bought. Fourth, We observed design conflicts in terms of temporality when designing both for their current
        reality and their future situation.
      </p>

      <div class="main__container__img-full">
        <img src="./../../../assets/Works/2016_ConsumerToCreator/img/pic03.jpg">
        <p class="img__figure">fig 5. Analyzing data with post-its</p>
      </div>

    </div>

  </div>

</section>
