<!-- <div class="container">
    <div id="text" class="text"></div>
    <div id="test"></div>
</div> -->
<section class="contentSingle">
  <div class="workDetail">
    <div class="fixed">
      <a class="link_underline underline" href="https://www.linkedin.com/in/jundongpark/">linkedin/jundongpark</a>
      <a class="link_underline underline" href="mailto:jundong@gmail.com">contanct@jundongpark</a>
      <a class="link_underline underline" href="https://docs.google.com/document/d/11AUm3zxcWwLWeD4ci4VZAPj8uQUpaR1KpAV1QCAI8s4/edit?usp=sharing">resume/jundongpark</a>
      <!-- <p class="underline"> 
        Wonderful to meet you. It is a pleasure to introduce myself to you. 
      </p> -->
    </div>

    <section class="main">


      <div class="main-560">

        <div class="main-boxes" id="main-boxes-1"></div>
        <div class="main-words intro">
          <p>
            I’m an South-Korean designer living and working in Seoul and Daejeon. Currently I’m working as a designer role in IDIM lab.
            Until recently, I was studying for master degree in Industrial design.
            <br>
            <br> I’m interested in how design can embrace constantly advancing techonologies as well as complicated human behaviors,
            and solve problems we face today in our everyay lives. Thereby I hope to inspire and enable the people who use
            and interact with the results of my design.
            <br>
            <br> Outside work, I’m interviewing a bunch of interesting people, <a class="link" href="http://www.fantastic-conceits.com">making visual graphic posters</a>, sketching other
            beautiful products and working out in the gym. I can also play some drum too.

          </p>
        </div>

        <div class="main-boxes" id="main-boxes-2"></div>
        <div class="main-words cv">
          <p>
            <span>Educational Background</span>
            <br> KAIST : Industrial Design & Mechanical Engineering / 2016
            <br> KAIST : Industrial Design, Master Degree / 2018
            <br>
            <br>

            <span>International Conference Papers</span>
            <br> CHI 2017, Consumer to Createor: How Households Buy Furniture to Inform Design and Fabrication interfaces (3rd
            author) / 2017
            <br>
            <br>

            <span>Awards and Honors</span>
            <br>SKT ICT Vision Contest, 4th / 2014
            <br> Korea Science Technology Innovation Contest, Grand Prize / 2014
            <br> Spark Concept International Award, Finalist / 2015
            <br>
            <br>

          </p>
        </div>

        <div class="main-boxes" id="main-boxes-3"></div>
        <div class="main-forms">
            <form>
              <div class="form-top">
                <label for="to">To:</label>
                <input type="text" value="jundong0901@gmail.com" class="to" readonly >
              </div>
        
              <div class="form-top">
                <label for="from">From:</label>
                <input type="text" class="" id="from" required>
              </div>
              
              <div class="form-top">
                <label for="subject">Subject:</label>
                <input type="text" class="" id="subject">
              </div>

              <hr>

              <div class="form-write">
                <!-- <textarea type="text" class="write" id="txt" rows="20" placeholder="Type your message here..." ></textarea> -->
                <textarea type="text" class="write" id="txt" rows="20" placeholder="(under construction)"></textarea>
              </div>
        
              <button type="submit" class="submit">Submit</button>
        
            </form>
        </div>

      </div>
    </section>
  </div>

</section>
