<section class="single">

  <div class="single__frontImg">
    <div class="single__frontImg__title">
      <pre class="underline"> Humans of KAIST </pre>
    </div>
    <div class="single__frontImg__img">
      <img src="./../../../assets/Works/2015_Humansofkaist/img/pic02.jpg">
      <p class="img__figure">fig 1. A Couple from Brazil, enjoying the weather </p>
    </div>
  </div>

  <div class="single__frontText">
    <div class="single__frontText__desc">
      <h3>
        “Somewhere along the way, I began to interview my subjects in addition to photographing them. And alongside their portraits,
        I’d include quotes and short stories from their lives.” −Brandon Stanton of ‘Humans of New York’
      </h3>
    </div>
    <div class="single__frontText__category">
      <p>CATEGORY</p>
      <p>-</p>>
      <br>
      <p>SITE</p>
      <p>www.facebook.com/humanskaist/</p>
      <br>
      <p>WITH</p>
      <p>Paul Park
        <br> Sungbae Kim
        <br> Jiyoun Ha</p>
    </div>
  </div>

  <div class="main">
    <div class="main__container">
      <p class="main__container__word">
        <span>About the work</span>
        <br>
        <br> This project started out by three students in 2014, whom got inspired by the ‘Humans of New York’ by Brandon Stanton.
        The main goal of this project was to let know the people of KAIST of their neighbors, their thinkings and their experiences.
        <br>
        <br> Three photographers spent their time everyweek to go out to the campus and meet various people along the street.
        Of those people, some were able to talk a little bit more, in which the interview was held. From those interviews,
        we were able to find out that although students are often buried in research and education, everyone has their own
        interesting stories to tell to others. We tried to capture the feeling of the interviewee and the story beneath in
        the photo we took after the interview. Sometimes, it turned out that photos actually carried more than the stories
        themselves.
        <br>
        <br> Now, with over a hundred posts and two thousand followers, the page itself had earned many peoples support and is
        contributing to a better society in KAIST.
      </p>

      <div class="main__container__img-full">
        <img src="./../../../assets/Works/2015_Humansofkaist/img/pic01.jpg">
        <p class="img__figure">fig 2. Photo of a keyboard player during a small concert </p>
      </div>

      <div class="main__container__img-left">
        <img src="./../../../assets/Works/2015_Humansofkaist/img/pic03.jpg">
        <p class="img__figure">fig 3. 2014.11.3 / OLEV bus driver</p>
      </div>

      <p class="main__container__word" style="font-size:0.75em;font-style:italic;" >
        <span>2014.11.3 / OLEV bus driver</span>
        <br>
        <br> “It’s been a week since I came to KAIST. I’ve been driving city buses for 30 years now. Driving KAIST’s OLEV bus
        is much easier, but it’s rather boring. The city is busy and full of new things, but in here I go through the same
        routine every day.” “Was there any memorbable student that you’ve seen for the past week you’ve been here?” “Students
        who’ve warmly greeted me. Mostly everyone here do greet me as they’re all nice, but sometimes I can’t help but feel
        sorry for them.”

        <br>
        <br> (Interviewer) “Sorry for them?”

        <br>
        <br> “For each of those students, it’s just a greeting or two, but I have to greet many tens of people every day. So
        it’s rather hard to greet ever so warmly all the time, though that’s not how I feel for them.”
      </p>

      <div class="main__container__img-full">
        <img src="./../../../assets/Works/2015_Humansofkaist/img/pic05.jpg">
        <p class="img__figure">fig 4. Taxi driver at KAIST, having a small rest in the park</p>
      </div>

      <div class="main__container__img-right">
        <img src="./../../../assets/Works/2015_Humansofkaist/img/pic04.jpg">
        <p class="img__figure">fig 5. Volunteer of a summer festival in KAIST</p>
      </div>

      <div class="main__container__img-left">
        <img src="./../../../assets/Works/2015_Humansofkaist/img/pic06.jpg">
        <p class="img__figure">fig 6. Design student in KAIST</p>
      </div>
    </div>

  </div>

</section>
