<section class="single">

  <div class="single__frontImg">
    <div class="single__frontImg__title">
      <pre class="underline"> Dustatic; <br> Window filter <br> for your health </pre>
    </div>
    <div class="single__frontImg__img">
      <img src="./../../../assets/Works/2015_Dustatic/img/pic01.jpg">
      <p class="img__figure">fig 1. The product is installed in-plac </p>
    </div>
  </div>

  <div class="single__frontText">
    <div class="single__frontText__desc">
      <h3>
        “The yellow dust hid Seoul from view throughout the morning, obscuring the sunrise just as surely as the heaviest of fogs.”
        −New York Times
      </h3>
    </div>
    <div class="single__frontText__category">
      <p>CATEGORY</p>
      <p>Product Design</p>
      <br>
      <p>PRODUCT</p>
      <p>Attachable Air Cleaner</p>
      <br>
      <p>WITH</p>
      <p>-</p>
    </div>
  </div>

  <div class="main">
    <div class="main__container">
      <p class="main__container__word">
        <span>About the work</span>
        <br>
        <br> Dustatic is a product which is made for people who wish for a fresh outdoor air, just without the dust. By using
        this product, most of the dust is filtered while flowing through. By using typcial mosquito net, which is usually
        applied on every house, this device is easily appliable.
        <br>
        <br> Small dust particles that float among the air are more prone to the electromagnetic force. This is because of ‘polarization’
        of material induced by the static electricity on the mosquito net. With this theory, dusts get caught while they
        pass the net, which results in dust-free indoor air.
      </p>

      <div class="main__container__img-full">
        <img src="./../../../assets/Works/2015_Dustatic/img/pic06.jpg">
        <p class="img__figure">fig 2. Technical detail of the product</p>
      </div>

      <p class="main__container__word">
        <span>Value of the product</span>
        <br>
        <br> Value of this concept product is as follows. First, product brings new usage for the typical mosquito net, which
        usually becomes a useless thing in the cold weather. Second, people can enjoy fresh outdoor air without worries.
        Third, mosquito net can be washed clean so no excessive filter is needed. So it is therefore enviromentally friendly.
        <br>
        <br> As dust pollution gets evermore critical, people need easy solution to solve this issue. ‘Dustatic’ foucs on solving
        this problems fast and easy by using typical mosquito nets, which are already installed in every house. Further more,
        it is easily washable too.
      </p>

      <div class="main__container__img-left">
        <img src="./../../../assets/Works/2015_Dustatic/img/pic03.jpg">
        <p class="img__figure">fig 3. Product close-up view</p>
      </div>

      <div class="main__container__img-right">
        <img src="./../../../assets/Works/2015_Dustatic/img/pic04.jpg">
        <p class="img__figure">fig 4.</p>
      </div>

      <p class="main__container__word">
        <span>Base technology & safety</span>
        <br>
        <br> Base technology for the ‘Dustatic’ is air-ionizer. Air-ionizer acts as a carrier of negative ion from mosquito net
        to the outer air. This is powered by DC current, transformed from 220V AC.
        <br>
        <br> As negative ion moves out from the net, the net itself becomes electrically charged like a condensor. By this static
        charge, the net becomes a filter which attracts the dust. This attraction is a ‘polarization process’, which happens
        when a material gets close to a charged-up material. Though this power is small, the dust is usually very light,
        making it liable to stick to the net before it goes inside the house.
        <br>
        <br> The static charge is not harmful to human because though its voltage may be high, the current is very low. ‘Dustatic’
        do not use AC directly but transforms it into lower DC current. Also the static charge is constantly controled to
        ensure the safety of the user, even though they get to touch the net.
      </p>

      <div class="main__container__img-left">
        <img src="./../../../assets/Works/2015_Dustatic/img/video.gif">
        <p class="img__figure">fig 5. Experiment with mosquito net and static electricity</p>
      </div>

      <div class="main__container__img-right">
        <img src="./../../../assets/Works/2015_Dustatic/img/pic05.jpg">
        <p class="img__figure">fig 6.</p>
      </div>

    </div>

  </div>

</section>
