<section class="single">

  <div class="single__frontImg">
    <div class="single__frontImg__title">
      <pre class="underline"> Musical Train; <br> IKEA-hacked musical toy </pre>
    </div>
    <div class="single__frontImg__img">
      <img src="./../../../assets/Works/2016_MusicalTrain/img/pic01.jpg">
      <p class="img__figure">Musical train on top of IKEA toy rail</p>
    </div>
  </div>

  <div class="single__frontText">
    <div class="single__frontText__desc">
      <h3>
        “A new study shows that individuals who start learning to play musical instruments before the age of seven have stronger
        connections in certain parts of the brain” − Virginia Penhune, Concordia University
      </h3>
    </div>
    <div class="single__frontText__category">
      <p>CATEGORY</p>
      <p>Design Research Paper</p>
      <br>
      <p>CONFERENCE</p>
      <p>CHI 17'</p>
      <br>
      <p>WITH</p>
      <p>
        Jiwon Jung
        <br> Hohyun Nam
      </p>
    </div>
  </div>

  <div class="main">
    <div class="main__container">
      <p class="main__container__word">
        <span>About the work</span>
        <br>
        <br> This project is one of the many wonderful works which hacks IKEA products and provide alternative ideas to people.
        ‘Musical Train’ started off from IKEA’s LILLABO set, which consist of wooden train tracks and trains for child to
        play with. Although it is a simple child’s toy, the fine quaility, with smooth movement of the train over the rails,
        surprised us.
        <br>
        <br> With its beautiful aesthetic and graceful movement, this product can be used as a silence-keeper in a public place,
        as well as a moodlight. So we got an idea to use this LILLABO set to make it into more interactive toy, which children
        could learn musical code and also make a melody out of it.

        <br>
        <br> We first made color coded music chips which fit nicely with LILLABO train tracks. And then made small train with
        sensors underneath, which could catch the color of the tracks. With this simple extension, LILLABO set became not
        just an wooden toy but also an interactive learning tool which childrens could try various options to play with and
        learn during the process.

      </p>

      <div class="main__container__img-full">
        <img src="./../../../assets/Works/2016_MusicalTrain/img/pic02.jpg">
        <p class="img__figure">fig 2. Side view</p>
      </div>

      <p class="main__container__word">
        <span>Why I chose this work</span>
        <br>
        <br> This work was, although simple in idea, quite challenging in reality because every sensor, power and circuit was
        to be inside a small IKEA-style-toy-train.
        <br>
        <br> Underneath is the simplified structural drawing of the product. It shows briefly how music is created by this train.
        First, the color sensor beneath the train sense the color change of the rail. This is then signaled to the arduino
        processor. And through mp3 module, the appropriate music note is played.
      </p>

      <div class="main__container__img-full">
        <img src="./../../../assets/Works/2016_MusicalTrain/img/pic04.jpg">
        <p class="img__figure">fig 3. Diagram of how it works</p>
      </div>

      <div class="main__container__img-left">
        <img src="./../../../assets/Works/2016_MusicalTrain/img/pic05.jpg">
        <p class="img__figure">fig 4. Application example </p>
      </div>

      <div class="main__container__img-left">
        <img src="./../../../assets/Works/2016_MusicalTrain/img/pic06.jpg">
        <p class="img__figure">fig 5. Instructions for the product </p>
      </div>

    </div>

  </div>

</section>
