<section class="single">

  <div class="single__frontImg">
    <div class="single__frontImg__title">
      <pre class="underline"> Churros Printer; <br> Food 3d print machine </pre>
    </div>
    <div class="single__frontImg__img">
      <img src="./../../../assets/Works/2016_ChurrosPrinter/img/pic02.jpg">
      <p class="img__figure">fig 1. Rendering image of the Churros Printer </p>
    </div>
  </div>

  <div class="single__frontText">
    <div class="single__frontText__desc">
      <h3>
        “Chrrous Ingredients; 1 cup of water, 1 cup of flour, 2 1/2 tablespoons of white sugar, 1/2 teaspoon salt,a 1 teaspoon of
        ground cinnamon and lot of oil” −allrecipes.com/recipe
      </h3>
    </div>
    <div class="single__frontText__category">
      <p>CATEGORY</p>
      <p>Design Fabrication</p>
      <br>
      <p>PRODUCT</p>
      <p>Food 3d print machine
        <p>
          <br>
          <p>WITH</p>
          <p>-</p>
    </div>
  </div>

  <div class="main">
    <div class="main__container">
      <p class="main__container__word">
        <span>About the work</span>
        <br>
        <br> This experimental design product was made during the course of ‘Digital design fabrication’, which focused on researches
        related to fabrication technologies which are becoming increasingly important. ‘Churros printer’ focus on making
        your own custom churros by using the 3d printing fabrication technology. With this machine, users can actually print
        out their custom shaped churros and fry it automatically.
        <br>
        <br> The process is as follows. 
        <br><br>
        
        First, users design their own shape of churros in a dedicated computer program. Then
        the program translate it into CNC G-code, of which the arduino in the ‘Churros Printer’ recognizes. After the printer
        prints all the flour dough, the grill plate is lowered down into the oil pot for a dedicated time depending on the
        amount of dough printed out. When all finishes, user can take out the fried churros and deep it into sugar for a
        sweet taste.
      </p>

      <div class="main__container__img-full">
        <img src="./../../../assets/Works/2016_ChurrosPrinter/img/pic05.jpg">
        <p class="img__figure">fig 2. Overall study procedure diagram</p>
      </div>

      <p class="main__container__word">
        <span>Structure of the machine</span>
        <br>
        <br> The machine consist of four main parts, of which is syringe part, nozzle part, oil pot and the arduino for control.
        Most of the part was made out of aluminium profile and 3d printed plastic. Three stepper motors were used to control
        the movements.
      </p>

      <div class="main__container__img-left">
        <img src="./../../../assets/Works/2016_ChurrosPrinter/img/pic04.jpg">
        <p class="img__figure">fig 3. Z axis stepper motor</p>
      </div>

      <div class="main__container__img-left">
        <img src="./../../../assets/Works/2016_ChurrosPrinter/img/pic06.jpg">
        <p class="img__figure">fig 4. Flour dough injection module</p>
      </div>

      <div class="main__container__img-right">
        <img src="./../../../assets/Works/2016_ChurrosPrinter/img/pic03.jpg">
        <p class="img__figure">fig 5. Nozzle</p>
      </div>

      <div class="main__container__img-full">
        <img src="./../../../assets/Works/2016_ChurrosPrinter/img/pic07.jpg">
        <p class="img__figure">fig 6. The overview of the product prototype</p>
      </div>


      <p class="main__container__word">
        <span>Hardships</span>
        <br>
        <br> The main hardship the project faced during the making was that the machine had a lot of heating problem, cause by
        the excessive heat while frying the churros in the oil pot. Many work around was adopted like the wood insulation
        around the oil pot. Also the software programming was also a challenge, which we got a lot of help from opensource
        in the internet. (Reprap) The basic code for the shape of the churros was generated by python.
      </p>

      <div class="main__container__img-full">
        <img src="./../../../assets/Works/2016_ChurrosPrinter/img/pic01.jpg">
        <p class="img__figure">fig 7.</p>
      </div>

    </div>

  </div>

</section>
