/* You can add global styles to this file, and also import other style files */

@font-face{
    font-family: "relative-bold";
    src: url('./assets/font/relative-bold.ttf') format('truetype');
}
@font-face{
    font-family: "relative-book";
    src: url('./assets/font/relative-book.ttf') format('truetype');
}
@font-face{
    font-family: "relative-mono10pitch";
    src: url('./assets/font/relative-mono10pitch.ttf') format('truetype');
}

@font-face{
    font-family: "freight-big-medium-italic";
    src: url('./assets/font/Freight-Big-Medium-Italic.otf') format('opentype');
}

html {
    // Why Font renders thicker in browsers?
    // https://stackoverflow.com/questions/28217486/font-renders-thicker-in-browsers
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    //
    min-height: 100vh;
    font-family: 'relative-book', monospace;
    color: '#f1f1f1';
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}


body {
    background-color: '#EFEFEF';
    margin: 0;
    width:100%;
}


// Highlight text selection
::selection {
    background: #FF76DA; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: #FF76DA; /* Gecko Browsers */
}

// to solve ios horizontal scroll issue
body {
        overflow: hidden;
        overflow-y: scroll; /* has to be scroll, not auto */
        -webkit-overflow-scrolling: touch;
}

// Style for a
a:link { text-decoration: underline; }

a:visited { color: #333333; }

// specified link_underline
$underlineColor: #333333;
$underlineHeight: 1%;


.link_underline {
  position: relative;
  text-decoration: none;
  display: inline-block;
  padding: 0 1px;
  transition: color ease 0.25s;
  
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: $underlineHeight;
    left: 0;
    bottom: 0;
    background-color: $underlineColor;
    transition: all ease 0.3s;
  }
  
  &:hover {
    color: white;
    
    &::after {
      height: 100%;
    }
  }
}


// font sizes
@media (min-width: 415px) {
    html{
        font-size:18px;
    }
}
@media (min-width: 768px) {
    html{
        font-size:20px;
    }
}